* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("Layer-759_02.jpg");
    height: 650px;
    text-align: center;
    padding-top: 20px;
}

nav {
    background-color: rgba(216, 129, 59, 0.7);
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
}

nav ul {
    padding-top: 12px;
}

nav ul li {
    display: inline-block;
    margin: 0 50px;
    padding-top: 5px;
}

.notBold {
    font-weight: 100;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > h1 {
    font-weight: normal;
    color: white;
    font-size: 60px;
    margin-top: 10%;
    text-transform: uppercase;
}

nav > p {
    color: white;
    width: 25%;
    margin: auto;
    opacity: 0.8;
    margin-top: 3%;
}

nav > button {
    margin-top: 25px;
    padding: 9px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 10px;
}

nav > button::after {
    content: " >";
    color: rgb(216, 129, 59);
}

nav > button:hover {
    color: black;
    background-color: rgba(216, 129, 59, 0.7);
}

.first-row {
    text-align: center;
}

h3 {
    margin: 65px 0;
    font-size: 50px;
}

main section article section i {
    float: left;
    width: 10%;
    color: white;
    background: black;
    border-radius: 50%;
    padding: 13px;
}

main section article {
    display: inline-block;
    width: 20%;
    margin-right: 150px;
}

h5 {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-left: 90px;
}

p {
    width: 320px;
    margin-left: 65px;
    text-align: left;
    padding-left: 25px;
}

.second-row {
    text-align: center;
    margin: 45px 0;
}

.second-row > article {
    width: 20%;
}

.second-h {
    padding-left: 90px;
    width: 100%;
    text-align: left;
}

.banner {
    background: url("steel-bg.jpg");
    height: 130px;
    opacity: 0.7;
}

.second-p {
    margin: auto;
    font-weight: bold;
    padding-left: 140px;
}

.first-p {
    margin: auto;
    padding-top: 50px;
    color: rgb(216, 129, 59);
    font-size: 17px;
    font-weight: 900;
}

.traders {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,
    0.6)), url('background-choose-us.jpg') no-repeat center;
    background-size: cover;
    height: 300px;
}

.traders h2 {
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    padding: 25px 0;
    color: white;
}

.traders article {
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(216, 129, 59,0.7);
    margin-right: 50px;
    width: 350px;
    margin-bottom: 20px;
}

.h3 {
    font-size: 20px;
    margin: 35px 0;
    text-transform: capitalize;
    font-weight: 900;
    opacity: 0.9;
    color: white;
}

.traders article p {
    text-align: left;
    position: relative;
    right: 40px;
    bottom: 25px;
    width: 300px;
    color: white;
}
.ceo {
    background: url("consulting-woman.jpg");
    background-size: cover;
    height: 600px;
}
.comment {
    width: 500px;
    background-color: white;
    float: right;
    margin: 40px 25px;
    height: 600px;
    opacity: 0.7;
}
.comment p{
    width: 410px;
    text-align: left;
    padding: 90px 30px 0 40px;
    margin: 0;
    font-weight: 500;
}
.comment p::before {
    content: "\201D";
    color: rgba(216, 129, 59,0.7);
    font-size: 25px;
}
.comment p::after {
    content: "\201D";
    color: rgba(216, 129, 59,0.7);
    font-size: 25px;
}
.founder {
    float: right;
    position: relative;
    left: 480px;
    top: 270px;
    background-color: #123060;
    width: 410px;
    height: 300px;
}
.founder p:first-of-type{
    color: white;
    position: relative;
    top: 55px;
    right: 45px;
    font-size: 21px;
}
.founder p:last-child{
    color: #e4d4d4;
    position: absolute;
    left: 85px;
}
.logo {
    text-align: center;
    height: 110px;
}
.logo div{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    position: relative;
    left: 200px;
    top: 30px;
}
.logo div img {
    width: 120px;
    vertical-align: middle;
}
footer div{
    background-color: black;
}
