
body {
    font-family: Lato,sans-serif;
    color: white;
    background: url("food-image-bg.png");
    background-size: cover;
}
main h1 {
    float: right;
    text-transform: uppercase;
    padding-right: 90px;
    font-size: 78px;
}
.recipies-info p {
    padding: 15px;
    display: inline-block;
    font-size: 15px;
}
.recipies-info  {
    padding-top: 50px;
    padding-left: 15%;
    font-size: 13px;
}
span {
    color: #b5c640;
}
.prep-steps {
    float: right;
}
.step {
    list-style: none;
    padding-bottom: 35px;
    width: 800px;
    padding-right: 100px;
}
.btn-primary {
    font-size: 19px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px 22px;
    margin-left: 21%;
}
.btn-primary:hover {
    background-color: #b5c640;
    color: white;
}